@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @supports (font-variation-settings: normal) {
    font-family: 'Inter var', sans-serif;
  }
}
